.loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: none;
}

.icon {
  animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}
