.formWrap {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.rightBlock {
  max-width: 343px;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  max-width: 343px;
}

.flexRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 343px;
}

.ingredientsList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.addWrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttonsRow {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 343px;
}

@media screen and (min-width: 768px) {
  .formWrap {
    gap: 80px;
  }
  .rightBlock {
    width: 649px;
    max-width: unset;
  }
  .infoWrap {
    gap: 60px;
    margin-bottom: 80px;
    max-width: unset;
  }
  .flexRow {
    flex-direction: row;

    gap: 20px;
    max-width: unset;
  }
  .flexRowQuantity {
    align-items: flex-start;
  }
  .addWrap {
    gap: 40px;
  }
  .ingredientsList {
    gap: 28px;
  }
  .buttonsRow {
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: unset;
  }
  .flexRowQuantityValid {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .formWrap {
    flex-direction: row;
  }
  .form {
    display: flex;
    gap: 80px;
  }
}
