.loadWrapBox {
  position: relative;
  width: 100%;
  max-width: 551px;
  height: 318px;
  border: 1px dashed var(--color-secondary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  box-sizing: border-box;
  cursor: pointer;
}

.loaded {
  border: none;
}

.loaded p {
  text-align: center;
  margin-bottom: 32px;
}

.imgWrapPrev {
  border-radius: 30px;
  overflow: hidden;
  width: 343px;
  height: 318px;
  margin-bottom: 16px;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  border-radius: 30px;
}

.uploadWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  overflow: hidden;
}

.loadWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placeholder {
  text-decoration: underline;
}

.hiddenInput {
  display: none;
}

.imgWrap {
  position: relative;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.camera {
  color: var(--color-secondary);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cameraFrame {
  color: var(--color-secondary);
  width: 64px;
  height: 64px;
  stroke-width: 1px;
}

/* Медиа-запросы */

@media screen and (min-width: 375px) {
  .loadWrapBox {
    max-width: 343px;
    height: 318px;
  }
}

@media screen and (min-width: 768px) {
  .loadWrapBox {
    max-width: 704px;
    height: 400px;
    margin-bottom: 80px;
  }

  .uploadWrap {
    gap: 20px;
  }
  .imgWrapPrev {
    margin-bottom: 20px;
    width: 704px;
    height: 400px;
  }
  .loaded p {
    text-align: center;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .loadWrapBox {
    max-width: 551px;
    height: 440px;
    margin-bottom: 0;
  }
  .loaded p {
    margin-bottom: unset;
  }

  .imgWrapPrev {
    width: 551px;
    height: 400px;
  }
}
