.controlPanelContainer {
    text-align: center;
}

.controlPanel {
    display: inline-block;
}

.profilePage {
    margin: 0 auto;
    max-width: 343px;
    width: 100%;
}

.profileHeading {
    margin-bottom: 16px;
    text-align: left;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.profileContent {
    display: inline-block;
    border: 1px solid var(--color-secondary);
    border-radius: 30px;
    margin-bottom: 20px;
    max-width: 343px;
    width: 100%;
}

.profileDescription.profileDescription {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -0.02em;
    font-size: 14px;
}

.userName {
    text-align: center;
}

.uploadPhotoButton {
    width: 28px;
    height: 28px;
    position: absolute;
    transform: translate(-50%, -65%);
}

.uploadPhotoButton:hover,
.uploadPhotoButton:active {
    transform: translate(-50%, -65%);
}

.profileInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 30px 69px;
}

.profileImageContainer {
    flex-shrink: 0;
}

.imagePlaceholder {
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #555;
}

.imagePlaceholder img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profileContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profileContent li {
    white-space: nowrap;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: var(--color-secondary);
}

.profileContent li:last-child {
    border-bottom: none;
}

.actionButton {
    width: 100%;
}

.tabContent {
    display: flex;
    flex-direction: column;
}

.userInfo ul li p {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.02em;
    color: var(--color-secondary);
}

.tabsSection {
    min-height: 279px;
}

@media (min-width: 768px) {
    .profilePage {
        padding-bottom: 100px;
        width: 704px;
        max-width: unset;
    }

    .profileHeading {
        margin-bottom: 20px;
    }

    .profileDescription.profileDescription {
        max-width: 443px;
        margin-bottom: 40px;
        color: var(--color-primary);
        line-height: 1.5;
        font-size: 16px;
    }

    .imagePlaceholder {
        width: 120px;
        height: 120px;
    }

    .imagePlaceholder img {
        width: 120px;
        height: 120px;
    }

    .uploadPhotoButton {
        width: 38px;
        height: 38px;
    }

    .profileContent {
        flex-direction: column;
        border: 1px solid var(--color-primary);
        width: 394px;
        max-width: unset;
    }

    .profileInfo {
        flex: 2;
        flex-direction: column;
        padding: 40px 80px;
        gap: 20px;
    }

    .profileContainer {
        gap: 80px;
    }

    .profileContent ul {
        width: 234px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tabsSection {
        min-height: 285px;
    }

    .userInfo ul li p {
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-primary);
    }
}

@media (min-width: 1440px) {
    .tabsSection {
        width: 846px;
        min-height: unset;
    }

    .profilePage {
        padding-bottom: 120px;
        width: 1280px;
    }

    .profileContent {
        border: 1px solid var(--color-secondary);
    }

    .profileContainer {
        flex-direction: row;
        gap: 40px;
    }
}
