.profilePage {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profileContent {
  display: flex;
  gap: 2rem;
  border: 1px solid var(--color-secondary);
  border-radius: 30px;
}

.profileDescription {
  width: 443px;
}

.userName {
  text-align: center;
}

.uploadPhotoButton {
  width: 28px;
  height: 28px;
}

.profileInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 80px;
}

.profileImageContainer {
  flex-shrink: 0;
}

.imagePlaceholder {
  width: 80px;
  height: 80px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #555;
}

.imagePlaceholder img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profileContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profileContent li {
  padding: 0.5rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--color-secondary);
}

.profileContent li:last-child {
  border-bottom: none;
}

.tabsSection {
  margin-top: 2rem;
}

.tabContent {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .imagePlaceholder {
    width: 120px;
    height: 120px;
  }

  .imagePlaceholder img {
    width: 120px;
    height: 120px;
  }

  .uploadPhotoButton {
    width: 38px;
    height: 38px;
  }

  .uploadPhotoButton {
  }

  .uploadPhotoButton:hover,
  .uploadPhotoButton:active {
  }

  .profileContent {
    flex-direction: column;
    border: 1px solid var(--color-primary);
  }

  .profileInfo {
    flex: 2;
    flex-direction: column;
  }

  .profileContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
