.recipePage {
    margin-bottom: 64px;
}

.wrap {
    margin-bottom: 32px;
    width: 343px;
    margin-left: auto;
    margin-right: auto;
}

.recipePageTitle + .recipeText {
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.28px;
    margin-top: 16px;
}

.recipePageTitle {
    line-height: 1.14;
    letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
    .recipePage {
        margin-bottom: 100px;
    }

    .wrap {
        margin-bottom: 40px;
        width: 704px;
    }

    .recipePageTitle + .recipeText {
        color: var(--color-main);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.32px;
        margin-top: 20px;
    }

    .recipePageTitle {
        line-height: 1.1;
        letter-spacing: -0.8px;
    }
}

@media screen and (min-width: 1440px) {
    .recipePage {
        margin-bottom: 120px;
    }

    .wrap {
        width: 1280px;
    }
}
