.popular-recipes {
    padding: var(--spacing-md);
  }
  
  .section-title {
    font-size:  var(--font-lg);
    font-weight: var(--font-bold2);
    margin-bottom: var(--spacing-xl);
    text-transform: uppercase;
  }
  
  .recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .recipe-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .image-wrapper {
    margin-bottom: var(--spacing-md);
  }
  
  .image-wrapper img {
    width: 100%;
    height: 230px;
    border-radius: var(--radius-xxl);
    object-fit: cover;
      }
  
  .recipe-title {
    font-weight: var(--font-bold2);
    font-size: var(--font-lg);
    margin-bottom: var(--spacing-sm);
  }
  
  .recipe-description {
    font-size: var(--font-sm);
    flex-grow: 1;
    margin-bottom: var(--spacing-sm);
  }

  .author-and-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
  }

  .author-info {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .action-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .owner-name {
    font-weight: var(--font-bold);
    font-size: var(--font-sm);
  }
  
  .icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
    padding: 0; 
  }
  
  @media (min-width: 376px) and (max-width: 767px) {

    .popular-recipes {
      padding: var(--spacing-xl);
    }
    
    .section-title {
      font-size: var(--font-2xl);
      margin-bottom: 40px;
    }
    
    .recipes-grid {
      gap: 40px;
    }
    
    
    
    .image-wrapper img {
      height: 275px;
        }
    
    .recipe-title {
      font-size: var(--font-xl);
    }
    
    .recipe-description {
      font-size: var(--font-md);
    }
  
    .author-info {
      gap: var(--spacing-sm);
    }
    
    .action-icons {
      gap: var(--spacing-xs);
    }
    
    .avatar {
      width: 40px;
      height: 40px;
    }
    
    .owner-name {
      font-size: var(--font-md);
    }
    
    .icon-button {
      width: 42px;
      height: 42px;
      
    }
  }

  @media (min-width: 768px) and (max-width: 1439px) {

    .popular-recipes {
      padding: 80px;
    }
    
    
    .recipes-grid {
      gap: 20px;
    }
    
  }