
  .section-title {
    font-size:  var(--font-lg);
    font-weight: var(--font-bold2);
    margin-bottom: var(--spacing-xl);
    text-transform: uppercase;
  }

  .recipes-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  @media (min-width: 768px) {
    .section-title {
    font-size:  var(--font-2xl);
    font-weight: var(--font-bold2);
    margin-bottom: 40px;
    
  }

  .recipes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;    
    row-gap: 40px; 
    width: 100%; 
  }
  .recipe-card{
    width: 100%;
 
  }

  }

  @media (min-width: 1440px) {
    .recipes-grid {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px; 
  }
  }
  