.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.upperblock {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.content {
  filter: brightness(0) saturate(100%);
  height: 24px;
  width: 69px;
}

.socials {
  display: flex;
  gap: 16px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-text-muted);
  margin-bottom: 40px;
}

.copyright {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: #1a1a1a;
}

/* ≥ 376px */
@media (min-width: 768px) {
  .footer {
    padding-bottom: 16px;
  }
  .upperblock {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content {
    height: 28px;
    width: 83px;
  }
  .copyright {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ≥ 1434px */
@media (min-width: 1440px) {
  .footer {
    padding-bottom: 52px;
  }

  .upperblock {
    padding-left: 80px;
    padding-right: 80px;
  }
}
