.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 40px 0 0 0;
    background: #fff;
  }
  
  .topRow {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  .socials {
    display: flex;
    gap: 16px;
    color: #050505;
  }

  .icon {
    color: #050505;
  }
  
  .socials a {
    border: 1px solid #bfbebe;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s;
  }
  
  .socials a:hover {
    border: 1px solid #222;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background: #bfbebe;
    margin: 40px 0 16px 0;
  }
  
  .copyright {
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  