.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #1a1a1a;
    cursor: pointer;
    min-width: 122px;
    min-height: 32px;
    padding: 0 10px 0 0; /* Add padding to ensure proper spacing */
    color: #fff;
    font-family: var(--font-family-body), sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    border: none;
    user-select: none;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.buttonOpen {
    background-color: #333; /* темніше при ховері */
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 6px;
    background-color: var(--color-secondary);
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
    text-transform: uppercase;
}

.icon {
    margin-left: 8px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconOpen {
    transform: rotate(180deg);
}

.dropdownContainer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.dropdownVisible {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .button {
        min-width: 148px;
        min-height: 50px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        /* Background color is inherited from the base .avatar class */
    }
}
