/* Skeleton styles */
.skeleton {
    background-color: var(--color-background);
    border-radius: 30px 30px 0 0;
    width: 100%; /* Full width for responsiveness */
    max-width: 343px; /* Max width for mobile */
    height: 366px; /* Height for mobile */
}

.skeletonPulse {
    background: linear-gradient(
            90deg,
            rgba(227, 227, 227, 0.2) 0%,
            rgba(227, 227, 227, 0.5) 50%,
            rgba(227, 227, 227, 0.2) 100%
    );
    background-size: 200% 100%;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.skeletonImage {
    width: 100%;
    height: 230px;
    border-radius: 30px;
}

.skeletonTitle {
    width: 80%;
    height: 24px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.skeletonText {
    width: 100%;
    height: 16px;
    border-radius: 4px;
    margin-bottom: 4px;
}

.skeletonTextShort {
    width: 60%;
}

.skeletonAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.skeletonAuthorName {
    width: 80px;
    height: 16px;
    border-radius: 4px;
}

.skeletonButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    gap: 4px;
}

@media (min-width: 768px) {
    .skeleton {
        max-width: 342px; /* Max width for tablet */
        height: 427px; /* Height for tablet */
    }

    .skeletonImage {
        height: 275px;
    }

    .skeletonAvatar {
        width: 40px;
        height: 40px;
    }

    .skeletonButton {
        width: 42px;
        height: 42px;
    }
}

@media (min-width: 1440px) {
    .skeleton {
        max-width: 290px; /* Max width for desktop */
        height: 427px; /* Height for desktop */
    }
}
