.loadWrapBox {
  position: relative;
  width: 551px;
  height: 440px;
  border: 1px dashed var(--color-secondary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loaded {
  border: none;
}
.previewBox {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  max-width: 300px;
}
.uploadWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.previewImg {
  width: 551px;
  height: 400px;
  border-radius: 30px;
  object-fit: cover;
  display: block;
}
.loadWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placeholder {
  text-decoration: underline;
}

.hiddenInput {
  display: none;
}

.imgWrap {
  position: relative;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.camera {
  color: var(--color-secondary);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cameraFrame {
  color: var(--color-secondary);
  width: 64px;
  height: 64px;
  stroke-width: 1px;
}
