.section {
    display: flex;
    flex-direction: column;
}

.titleBox {
    margin-bottom: 20px;
}

.subtitleBox {
    margin-bottom: 28px;
}

@media (max-width: 767px) {
    .titleBox {
        margin-bottom: 16px;
    }

    .subtitleBox {
        margin-bottom: 18px;
    }
}

.categoriesContainer {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .categoriesContainer {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1440px) {
    .categoriesContainer {
        padding-left: 0;
        padding-right: 0;
    }
}

.categoriesContainer {
    outline: 2px solid red;
}