.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.titlesubtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  width: 343px;
  font-weight: 500;
}

.titleBox {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

.subtitleBox {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  color: #bfbebe;
}

@media (min-width: 768px) {
  .titleBox {
    font-size: 40px;
  }

  .subtitleBox {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #1a1a1a;
  }

  .titlesubtitle {
    gap: 20px;
    width: 531px;
    margin-bottom: 40px;
  }
}

/* Можно добавить другие брейкпоинты при необходимости */
@media (min-width: 1440px) {
  .section {
    width: 1280px;
    padding-top: 120px;
  }
}
