.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
   
}
/* Окрема картка */
.item {
    flex: 1 0 28.5%;
    max-width: 28.5%;
    min-width: 0;
    box-sizing: border-box;
    margin: 0;
        padding: 0;

}
/* Wide-картки: 3-тя, 1-ша (з 2го ряду), 2-га (з 3го ряду), 1-ша (з 4го) — патерн*/
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(8),
.item:nth-child(10),
.item:nth-child(14),
.item:nth-child(14n+3) {
    flex: 1 0 40%;
    max-width: 40%;
}

.item.allCategoriesCard {
    flex: 1 0 28.5%;
    max-width: 28.5%;
}



/* Для вирівнювання, якщо треба (аналог .navigation::after) */
.list::after {
    content: "";
    flex: 1 0 28.5%;
    max-width: 28.5%;
}

@media (max-width: 1023px) {

        .list {
            
            gap: 20px;
        }
}

@media (max-width: 767px) {

        .list {
           
            gap: 16px;
        }
}

@media (max-width: 1439px) {
 
}