.tabs-container {
  position: relative;
  margin-bottom: 32px;
}

.tabs-container::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-secondary);
  z-index: 1;
}

.tabs-wrapper {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-right: -20px;
  padding-right: 20px;
}

/* Ховає скролбар для Chrome, Safari, and Opera */
.tabs-wrapper::-webkit-scrollbar {
  display: none;
}

.tab {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: var(--color-text-secondary);
  font-size: var(--font-lg);
  font-weight: var(--font-bold2);
  line-height: 24px;
  letter-spacing: -0.02em;
  padding-bottom: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab:hover {
  color: var(--color-primary);
}

.tab:hover::after, 
.tab.active::after {
  opacity: 1;
}

.tab.active {
  color: var(--color-primary);
}